<!-- news/templates/news/story.html -->
{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css'%}">
{% endblock %}

{% block content %}

    {% comment %} Allow authenticated user to edit story {% endcomment %}
    {% if user.is_authenticated %}
    <a href="{% url 'news:update_story' story.id %}">Edit</a>
    {% endif %}

    <div id="story-wrapper">
        <h2>{{ story.title }}</h2>
        <h4>{{ story.author }}</h4>
        
        <div id="story-content">
            {% if story.image is not None %}
                <img src =" {{ story.image }} ">
            {% else %}
                <img src="https://picsum.photos/id/1/600">
            {% endif %}
            {{ story.content|linebreaks }}
        </div>
    </div>
{% endblock %}
